<!-- Toolbar -->
<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a routerLink=""><img width="30" alt="Angular Logo" src="https://cdn.pixabay.com/photo/2016/09/16/09/20/box-1673579_960_720.png" />
    </a>
    <span routerLink="">Estoquei</span>
    <div class="spacer"></div>
    <nav>
        <a style="color: #e6ebf1; padding: 20px" routerLink="/dashboard">
            Dashboard
        </a>
        <a style="color: #e6ebf1; padding: 20px" routerLink="/vendas"> Vendas </a>
        <a style="color: #e6ebf1; padding: 20px" routerLink="/produtos">
            Produtos
        </a>
        <a style="color: #e6ebf1; padding: 20px" routerLink="/vendedor">
            Vendedor
        </a>
    </nav>
</div>
<router-outlet></router-outlet>