<p-button
  id="ordenar"
  [style]="{ 'margin-bottom': '20px' }"
  label="Ordenar"
  (onClick)="handleClick()"
></p-button>

<p-table [value]="sortedVendedores">
  <ng-template pTemplate="header">
    <tr>
      <th>Vendedor</th>
      <th>Valor de vendas por produto</th>
      <th>Valor bruto de vendas</th>
      <th>Número de produtos vendidos</th>
      <th>Nota do vendedor</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-vendedor>
    <tr>
      <td>
        <div style="display: flex; flex-direction: row; align-items: center">
          <p-avatar
            size="large"
            image="{{ vendedor.picture_url }}"
            shape="circle"
          ></p-avatar>
          <div id="sellername" style="margin-left: 20px; margin-top: -10px">
            {{ vendedor.name }}
          </div>
        </div>
      </td>
      <td>
        R${{
          vendedor.monthly_sells != 0
            ? vendedor.monthly_sales_price / vendedor.monthly_sells
            : 0
        }}
      </td>
      <td>R${{ vendedor.monthly_sales_price }}</td>
      <td>{{ vendedor.monthly_sells }} produtos vendidos</td>
      <td>{{ vendedor.seller_evaluation }}/5</td>
    </tr>
  </ng-template>
</p-table>
