<p-table [value]="lojas">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            Lojas
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Imagem</th>
            <th pSortableColumn="store_profit">Lucro <p-sortIcon field="store_profit" ></p-sortIcon></th>
            <th pSortableColumn="monthly_sells">Vendas <p-sortIcon field="monthly_sells"></p-sortIcon></th>
            <th pSortableColumn="monthly_expense_cost">Despesas <p-sortIcon field="monthly_expense_cost"></p-sortIcon></th>
            <th>Localização</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-loja>
        <tr>
            <td>{{loja.name}}</td>
            <td><img [src]="'assets/images/' + loja.image" [alt]="loja.name" width="100" height="60" class="p-shadow-4" /></td>
            <td>{{loja.store_profit | currency:'BRL'}} </td>
            <td>{{loja.monthly_sells | currency:'BRL'}}</td>
            <td>{{loja.monthly_expense_cost | currency:'BRL'}}</td>
            <td><a href= {{loja.store_localization_url}}>Ver Localização</a></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            No total de {{lojas ? lojas.length : 0 }} Lojas.
        </div>
    </ng-template>
</p-table>