<p-table [value]="lojas">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            Lojas
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Imagem</th>
            <th pSortableColumn="category">Lucro <p-sortIcon field="category"></p-sortIcon></th>
            <th pSortableColumn="quantity">Vendas <p-sortIcon field="quantity"></p-sortIcon></th>
            <th pSortableColumn="price">Despesas <p-sortIcon field="price"></p-sortIcon></th>
            <th>Localização</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-loja>
        <tr>
            <td>{{loja.name}}</td>
            <td>IMAGEM</td>
            <td>{{loja.store_profit | currency:'BRL'}}</td>
            <td>{{loja.monthly_sells | currency:'BRL'}}</td>
            <td>{{loja.monthly_expense_cost | currency:'BRL'}}</td>
            <td><a href= {{loja.store_localization_url}}>Ver Localização</a></td>
            <!-- <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" /></td>
            <td>{{loja.price | currency:'USD'}}</td>
            <td>{{loja.category}}</td>
            <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
            <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{loja.inventoryStatus}}</span></td> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            No total de {{lojas ? lojas.length : 0 }} Lojas.
        </div>
    </ng-template>
</p-table>

<!-- "name": "Atacadão",
      "store_localization_url": "https://www.google.com.br/maps/place/Atacad%C3%A3o/@-8.0861972,-34.9304656,13z/data=!4m9!1m2!2m1!1satacadao!3m5!1s0x7ab1983960839c3:0x92a437c50ef0791b!8m2!3d-8.0297192!4d-34.9440174!15sCghhdGFjYWRhbyIDiAEBkgEKd2hvbGVzYWxlcg",
      "id": 3,
      "monthly_sells": 400,
      "monthly_expense_cost": 350,
      "store_profit": 50 -->