<p-table [value]="lojas">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <p style="font-size:large; font-weight: bold; text-align: left; width: 100%; color: rgb(5, 117, 152)">Lojas Cadastradas</p>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style= "font-weight: bold;" >Nome</th>
            <th style= "font-weight: bold;" >Logo </th>
            <th style= "font-weight: bold;" pSortableColumn="store_profit">Lucro <p-sortIcon field="store_profit" ></p-sortIcon></th>
            <th style= "font-weight: bold;" pSortableColumn="monthly_sells">Vendas <p-sortIcon field="monthly_sells"></p-sortIcon></th>
            <th style= "font-weight: bold;" pSortableColumn="monthly_expense_cost">Despesas <p-sortIcon field="monthly_expense_cost"></p-sortIcon></th>
            <th style= "font-weight: bold;" >Localização</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-loja>
        <tr>
            <td>{{loja.name}}</td>
            <td><img [src]="'assets/images/' + loja.image" [alt]="loja.name" width="100" height="60" class="p-shadow-4" /></td>
            <td style="color: rgb(0, 133, 151)">{{loja.store_profit | currency:'BRL'}} </td>
            <td style="color: rgb(0, 151, 58)">{{loja.monthly_sells | currency:'BRL'}}</td>
            <td style="color: rgb(161, 33, 1)">{{loja.monthly_expense_cost | currency:'BRL'}}</td>
            <td><a href= {{loja.store_localization_url}}>Ver Localização</a></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            No total de {{lojas ? lojas.length : 0 }} Lojas.
        </div>
    </ng-template>
</p-table>
